
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@model IEnumerable<RoleViewModel>

@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(r => r.Id)</th>
                <th>@Html.DisplayNameFor(r => r.Name)</th>

                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td>@r.Id</td>
                    <td>@r.Name</td>

                    <partial name="_IndexPartial" model="@r.Id" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger">
        <h2>There are no roles!</h2>
    </div>
}
