
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@model IEnumerable<Employee>

@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(e => e.Name)</th>
                <th>@Html.DisplayNameFor(e => e.Age)</th>
                <th>@Html.DisplayNameFor(e => e.Address)</th>
                <th>@Html.DisplayNameFor(e => e.Email)</th>
                <th>@Html.DisplayNameFor(e => e.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(e => e.Salary)</th>
                <th>@Html.DisplayNameFor(e => e.IsActive)</th>
                <th>@Html.DisplayNameFor(e => e.HiringDate)</th>
                <th>Department Name</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var e in Model)
            {
                <tr>
                    <td>@e.Name</td>
                    <td>@e.Age</td>
                    <td>@e.Address</td>
                    <td>@Html.DisplayFor(m => e.Email)</td>
                    <td>@e.PhoneNumber</td>
                    <td>@Html.DisplayFor(m => e.Salary)</td>
                    <td>@Html.DisplayFor(m => e.IsActive)</td>
                    <td>@e.HiringDate</td>
                    <td>@(e.Department?.Name ?? "No Department")</td>

                    <partial name="_IndexPartial" model="@e.Id" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger">
        <h2>There are no employees!</h2>
    </div>
}
